body {
    background-color: #31363a;
    background-image: url('./img/160410.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover {
    color: inherit;
}
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(26, 23, 23, 0.9);
    z-index: 1;
    .spinner {
        width: 84px;
        height: 84px;
        border: 4px solid;
        border-color: #6a5ce6 transparent #6a5ce6 transparent;
        border-radius: 50%;
        animation: spin-anim 0.8s linear infinite;
    }
    @keyframes spin-anim {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
